*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}
body{
    overflow-x: hidden;
}
.container{
    display: flex;
    
}
.sidebar{
    width: 220px;
    background-color: #C25F42;
    position: fixed;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100%;
    margin-left: 220px;
   
}

.main .content{
    height: 100%;
   
}
.sidebar .logo img{
    width: 200px;
}
.sidebar h5{
    margin-left: 10px;
    font-size: 18px;
    color: #4E4E4E;
}
.sidebar .nav{
    margin-top: 20px;
    /* margin-left: 30px; */
    /* padding-left: 10px; */

}

.nav .li{
    display: flex;
    /* background-color: #E2E2E2; */
    width: 100%;
    padding: 5px 30px;
    margin-bottom: 17px;
    
}
.nav .li:hover{
    background-color: #F0997F;
}
.active{
    background-color: #F0997F;
}
.sidebar .nav .li a{
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #F9D3C0;
}
.sidebar .nav .li ion-icon{
    font-size: 22px;
    padding-right: 10px;
    color: #fff;
}
.logout{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 9px;
}
.logout a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 2px;
}
.logout span ion-icon{
    font-size: 28px;
    padding-right: 2px;
    color: #fff;
   
}


/* --header-- */
.main .header{
    width: 100%;
    height: 60px;
  border-bottom: 1px solid #E2E2E2;
  display: flex;
  padding-left: 15px ;
  padding-bottom: 15px;

}


.main .header ion-icon{
    font-size: 40px;
    margin-top: 10px;
    color: #C25F42;
 
  
}
.main .header  a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-left: 15px;
    font-weight: 500;
    margin-top: 12px;
    border-bottom: 5px solid #C25F42;
    /* margin-bottom: 15px; */
    
}

.main .header  input{
    height: 32px;
    width: 220px;
    margin-left: 10%;
    margin-top: 15px;
   padding: 5px;
    
}
.main .header span{
    margin-left: -30px;
    margin-top: 7px;
}
.main .header span  ion-icon{
    font-size: 25px;
}
.main .header .admin .img img{
  
    width: 45px;
    height: 45px;
    background-color: #F0997F;
    border-radius: 70%;
    margin-top: 5px;
}

.main .header .admin{
    margin-left: 27%;
  
}
.main .header .ad{
   font-size: 22px;
   margin-top: 9px;
   display: flex;
   margin-left: 10px;
}
.main .header .ad .ko{
    margin-left: 10px;
    color: #C25F42;
    border-bottom: 5px solid #C25F42;
}
/* ---content starts here-- */

.content h1{
    font-size: 30px;
    color: #C25F42;
    margin-left: 3%;
    margin-top: 20px;

}
.content .flex {
    display: flex;
    margin-top: 30px;
}
.content .flex .search{
    display: flex;
    margin-left: 20px;
   
}
.content .flex .search input{
    height: 32px;
    width: 220px;
    margin-left: 3%;
    /* margin-top: 30px; */
   padding: 5px;
    
}
.content .flex .search span ion-icon{
    font-size: 25px;
    margin-left: -30px;
    padding-top: 2px;
}
.content .flex a{
   
    text-decoration: none;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: #C25F42;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .flex a:hover{
    color: #C25F42;
    border: 2px solid #C25F42;
    background-color: #fff;
}
.content .flex .refreash{
    display: flex;
    margin-left: 60%;
   
    margin-right: 3%;
   
    border: 1px solid #E2E2E2;
    padding-top: 5px;
    padding-left: 3px;
   width: 100px;
   height: 30px;
}
.content .flex .refreash ion-icon{
    font-size: 20px;
    color: #C25F42;
    
}
.content .flex .refreash p{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 600;
}


/* --table starts-- */
.tableCont{
    
    width: 90%;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    padding-top: 5px;
    width: 40px;
  }
  
  /* #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;} */
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F0997F;
    color: black;
  }
  #customers .id{
    padding: 3px;
    width: 10px;
  }
  #customers .active{
    color: #C25F42;
    background-color: #fff;
  }